/**
 * @Author: chunxiao.zhang
 * @Email: chunxiao.zhang@jdxiaokang.com
 * @Update: 2020-02-18 15:13:03
 * @Description: 注册页面
 */
.container
  padding-top:80px
  .back
    position: fixed
    width: 100%
    height :100%
    left: 0
    top: 0
    background: #fff
    z-index:-1
  .inner 
    -webkit-overflow-scrolling: touch;
.icon
  width 156px
  height 156px
  background-size 100%
  margin-bottom:50px
  margin-left:auto
  margin-right:auto
  border-radius 50%
.store_name
  height 32px
  font-size 32px
  font-weight 600
  color rgba(51, 51, 51, 1)
  line-height 32px
  text-align center
.store_desc
  font-size 28px
  font-weight 400
  color rgba(153, 153, 153, 1)
  line-height 28px
  padding 30px 0 0 0
  text-align center
.form_box
  margin 150px 83px 110px
.info_box
  position relative
  font-size 28px
  font-weight 400
  line-height 28px
  padding-bottom 20px
  margin-bottom 60px
.info_box::after
  content ''
  display block
  position absolute
  left 0
  bottom 0
  right 0
  height 2px
  background rgba(245, 243, 242, 1)
.info_insert
  font-size 32px
  color rgba(77, 77, 77, 1)
  margin-top: 30px
.info_insert_code
  width 50%
  font-size 32px
  color rgba(77, 77, 77, 1)
  .code
    color: #333
.btn_gray
  height 80px
  background rgba(232, 233, 235, 1)
  border-radius 40px
  line-height 80px
  text-align center
  font-size 32px
  font-weight 500
  color rgba(255, 255, 255, 1)
  display inline-block
  width 100%
.btn_red
  height 80px
  background rgba(249, 72, 46, 1)
  box-shadow 0px 8px 20px 0px rgba(249, 72, 46, 0.2)
  border-radius 40px
  line-height 80px
  text-align center
  font-size 32px
  font-weight 500
  color rgba(255, 255, 255, 1)
  display inline-block
  width 100%
.code_box
  display flex
  justify-content space-between
  align-items center
  padding 30px 0 0 0
.time
  height 28px
  font-size 28px
  font-weight 400
  color rgba(179, 179, 179, 1)
  line-height 28px
