/**
 * @Author: cai.ping
 * @Email: cai.ping@jdxiaokang.com
 * @Update: 2020-02-24 16:40:32
 * @Description: 地址新增/修改
 */
.edit_box
  overflow hidden
  padding 0 24px
  background: #fff
  :global
    .at-input__title
      width: 152px
      line-height: 40px
      font-size: 28px
      color: rgba(51, 51, 51, 1)
      margin: 0
    .weui-input
      font-size 28px
      height 44px
    .at-input__input
      font-weight: bold
    .at-input
      padding 24px 0
      margin-left 0
    .at-input__container
      .placeholder
        font-size: 28px
        color: rgba(179, 179, 179, 1)
        font-weight: 400
    .at-switch
      margin-left 0
    .at-switch__title
      font-size 28px
    .at-switch::after
      display: none
    .weui-switch, .weui-switch-cp__box
      width 88px
      height 44px
      border-radius 36px
    .weui-switch:after, .weui-switch-cp__box:after
      height 33px
      width 35px
      top 3px
      left 4px
      background-color #ECECEC
      box-shadow none
    .weui-switch:before, .weui-switch-cp__box:before
      height 44px
      width 88px
    .weui-switch:checked, .weui-switch-cp__input:checked .weui-switch-cp__box
      border-color #FF3013 !important
      background-color #ffffff !important
    .at-input::after
      border: 0px solid rgba(240, 240, 240, 1)
      border-bottom-width: 1PX
    .at-form::after
      border: 0px solid rgba(240, 240, 240, 1)
      border-top-width: 1PX
      // border-bottom-width: 1PX
.moren
  position: relative
  :global
    .weui-switch:after, .weui-switch-cp__box:after
      background-color #FF3013
      background #FF3013
      left 9px
.switch
  position: relative
.area_content
  position relative
  z-index 1
  height:106px
  padding-top: 34px
  width: 100%
  .icon_arrow
    position: absolute
    right: 28px
    top: 50%
    transform: translateY(-50%)
    font-size: 18px
    color: rgba(51, 51, 51, 1)
  .area_box
    position absolute
    z-index 999
    top 23px
    left 152px
    font-size 28px
    width 100%
    padding-right 28px
    :global
      .iconfont
        position absolute
        width 95%
        text-align right
        left -250px
        padding-right 28px
.show_area_box
  width:520px
  white-space: nowrap
  overflow-x:auto
  margin-top: 10px
  color: rgba(51, 51, 51, 1)
  font-weight: 500
.grayText
  color: rgba(179, 179, 179, 1)
  font-weight: 400
.button_box
  position fixed
  bottom 0
  left 0
  text-align center
  width 100%
  padding-bottom 73px
  background #ffffff
  :global
    .at-button
      font-size 32px
      line-height 88px
      height 88px
      background rgba(249, 72, 46, 1)
      border-radius 49px
      color #fff
      border 0
      width 686px
      font-weight: 500
.del_address
  font-size 28px
  color rgba(249, 72, 46, 1)
  line-height 40px
  padding 36px 0
  margin-top: 2px
.addressContainer
  position: relative
  width: 100%
  display: flex
  padding: 32px 0
  :global
    .at-textarea
      padding: 0
      border-style: none
      font-size: 28px
    .at-textarea__counter
      display: none
    .at-textarea__textarea
      font-size: 28px
      color: rgba(51, 51, 51, 1)
      font-weight: 500
    .placeholder
      font-size: 28px
      color: rgba(179, 179, 179, 1)
      font-weight: 400
.addressTitle
  width: 152px
  line-height: 40px
  font-size: 28px
  color: rgba(51, 51, 51, 1)
.textarea
  width: 500px