/**
 * @Author: cai.ping
 * @Email: cai.ping@jdxiaokang.com
 * @Update: 2020-02-27 10:24:17
 * @Description: true
 */
 .content
   background: #F8F8F8
   position: relative
.code_box
  text-align: center
  padding-top: 71px 
  padding-bottom: 50px
  .black_bar
    width:670px;
    height:46px;
    background:rgba(52,52,52,1);
    border-radius:23px;
    margin: 0 auto
  .code_content
    background: #ffffff
    padding: 48px 0
    width: 614px
    margin: 0 auto
    position: relative
    top: -20px
    border-radius: 8px
    z-index :1  
    .title
      font-size: 36px
      line-height: 36px
      color: #9A9A9A
      font-weight: bold
    .font
      color: #333333
      font-size: 48px
      line-height: 48px
      margin-top: 35px
    .copy
      font-size: 28px
      line-height: 28px
      color: #ffffff
      background: #F9482E
      padding: 18px 0
      width: 184px
      text-align: center
      margin: 35px auto 0 auto
      border-radius:34px;
    .code_imgbox
      border-top: 2px dashed #D2D2D2
      margin-top: 48px
      padding: 48px 0 0 0 
      z-index:2
      position: relative
      &:before, &:after
        position: absolute
        content: ''
        top: -24px
        width: 48px
        height 48px
        border-radius: 50%
        background: #F8F8F8
        z-index :9
      &:before
        left :-24px
      &:after
        right:-24px
      .img
        display: flex
        align-items: center
        justify-content: center
      .desc
        font-size: 24px
        margin-top: 36px


.yq_list_button
  font-size: 24px
  color: #F9482E
  padding: 22px
  background: white
  border-radius: 6px
  width: 614px
  margin: 60px auto