/**
 * @Author: chunxiao.zhang
 * @Email: chunxiao.zhang@jdxiaokang.com
 * @Update: 2020-02-28 14:19:17
 * @Description: 账户信息详情
 */
// body
//   background rgba(240, 240, 240, 1)
.container
  padding 0 24px 238px
  :global
    .at-tabs__item-underline
      background #333333
    .at-tabs__item
      color #CBCBCB
    .at-tabs__item--active
      color #333333
      font-weight 500
    .loaded, .loading, .pullDownBlock
      font-size 24px
      color #666
    .at-tabs-pane
      padding: 0 24px
.income
  background rgba(255, 255, 255, 1)
  border-radius 12px
  font-size 32px
  font-weight 600
  color rgba(51, 51, 51, 1)
  line-height 45px
  text-align center
  margin 24px 0 18px 0
  overflow hidden
  padding 0 0 36px 0
.income_name
  font-size 24px
  color rgba(102, 102, 102, 1)
  line-height 33px
  margin 36px 0 18px 0
.type_box
  display flex
  justify-content space-between
  font-size 24px
  color rgba(102, 102, 102, 1)
  line-height 33px
  margin 0 0 18px 0
  text-align center
.active
  background rgba(255, 255, 255, 1)
  border 1px solid rgba(255, 255, 255, 1) !important
.type
  width 342px
  position relative
  border 1px solid rgba(179, 179, 179, 1)
  border-radius: 8px
.type_name
  padding 24px 0 6px 0
.type_price
  font-size 28px
  color rgba(51, 51, 51, 1)
  line-height 40px
  padding-bottom 24px
.list
  position relative
  display flex
  justify-content space-between
  align-items center
  padding 24px
  font-size 24px
  color rgba(153, 153, 153, 1)
  line-height 33px
.list_name
  padding 12px 0
  font-size 28px
  font-weight 500
  color rgba(51, 51, 51, 1)
.list_price
  font-size 24px
  font-weight 500
  color rgba(249, 72, 46, 1)
  line-height 28px
  text-align: right 
.go_btn
  margin 28px 59px 0 59px
  height 68px
  background rgba(249, 72, 46, 1)
  border-radius 34px
  line-height 68px
  text-align center
  font-size 28px
  color rgba(255, 255, 255, 1)
.icon
  color #fff
  font-size 16px
  position absolute
  left 50%
  transform translate(-50%, -40%)
  bottom -28px
.title
  font-size 24px
  color rgba(153, 153, 153, 1)
  line-height 33px
  padding 27px 0 27px 24px
  position relative
  display flex
.records
  margin-right 12px
.password
  font-size 24px
  color rgba(249, 72, 46, 1)
  line-height 32px
  padding 32px 0
.txian_btnbox
  padding-bottom: 40px
.go_btn
  height 68px
  background rgba(249, 72, 46, 1)
  border-radius 34px
  margin 0 83px
  font-size 28px
  line-height 68px
  color rgba(255, 255, 255, 1)
.mt18
  margin-top 18px
  text-align: right 
.failed
  color rgba(203, 203, 203, 1)
.desc
  font-size 28px
  font-weight 500
  color rgba(51, 51, 51, 1)
.green
  color rgba(59, 166, 62, 1)
  margin 0 12px 0 18px
  font-size 28px
  font-weight 500
.wrapper
  border-radius 12px
  margin 18px 0 0 0
.date
  margin 18px 0 0 0
.wait
  color #FFA946

.tab_box
  position fixed
  width 100%
  left 0
  top 0
.bg_fff
  background #fff
  border-radius: 18px 18px 0 0
.tx
  padding-bottom 24px
.tx_box
  text-align center
  background rgba(255, 255, 255, 1)
  border-radius 0px 0px 12px 12px
.type_tx_price
  font-size 32px
  font-weight 600
  color rgba(51, 51, 51, 1)
  line-height 45px
  padding 32px 0
.type_tx_price1
  padding 41px 0
  font-size 32px
  font-weight 600
  color rgba(51, 51, 51, 1)
  line-height 45px
.box
  margin-top: 24px

.scroll_content
  border-radius: 12px
  background: #ffffff
  width: calc(100% - 48px)
  position: fixed!important
  left 24px
.lj_scroll
  top: 450px
  height calc(100% - 470px)!important
.tx_scroll
  top: 450px
  height calc(100% - 470px)
.tx_1_scroll
  top: 360px
  height calc(100% - 380px)
.js_scroll
  top: 300px
  height calc(100% - 300px)
.back
  background: rgba(240, 240, 240, 1)
  position: fixed
  width: 100%
  top: 0
  left 0
  height 100%
  z-index -1
.mes_box
  margin-bottom: 20px
.right_inbox
  text-align: right 
  .green
    margin: 0
    margin-bottom: 10px