/**
 * @Author: 福虎
 * @Email: Shenghu.tan@jdxiaokang.com
 * @Update: 2020-05-25 10:58:40
 * @Description: 自营店保证金
 */

.top_banner
  background-image: url('https://jxkcdn.jingxiaokang.com/assets/images/1590376283403_353.png')
  height:480px
  background-position: center center
  background-size:cover

.content
  background-color: white
  padding-bottom: 30px
  padding-top:70px
  position: relative

.user_box
  background-color: white
  position: absolute
  box-shadow: 0 0 3px #ccc
  width:90%
  padding:30px 20px 15px 20px
  left:5%
  top:-80px
  border-radius: 6px

.photo
  width:100px
  height:100px
  border-radius:50%

.company_name
  vertical-align: middle
  display:inline-block
  font-weight: bold
  color:#333
  font-size:32px
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
  width:420px
  padding-left:15px

.pay_status_tip
  position: absolute
  right:20px
  top:58px
  color:#F9482E
  font-size: 28px

.about
  background-image:url('https://jxkcdn.jingxiaokang.com/assets/images/1590376274753_9692.png')
  background-size: auto 100%
  background-color: #FFFBF5
  background-repeat: no-repeat
  color:#5D3828
  padding:25px 20px 25px 180px
  font-size: 26px
  margin-left:5%
  margin-right:5%

.flow_box
  margin-left:5%
  margin-right:5%
  padding-bottom: 25px
  display: flex
  justify-content: space-between
  align-items: center
  position relative

.title_img_box
  margin-top:80px
  margin-bottom: 40px
  text-align: center

.title_img
  width:32%
  height:auto

.arr_img
  width:auto
  height:30px
  vertical-align: 0px
  position: absolute
  top 25px

.step_box
  text-align: center

.step_icon
  width:80px
  height:80px
  margin-bottom:15px

.pay_box
  margin-top: 30px
  background:linear-gradient(135deg,rgba(67,59,54,1) 0%,rgba(41,35,32,1) 100%)
  color:#FFDFC3
  font-size: 32px
  position relative
  height:100px
  line-height: 100px
  padding-left:30px
  padding-right:15px

.amout
  font-size: 50px
  padding-left:25px

.wx_pay_btn
  background:linear-gradient(to right,rgba(255,248,217,1),rgba(238,188,134,1) 100%)
  font-size: 32px
  color: #5D3828
  position: absolute
  right:0
  bottom:0
  height:110px
  line-height: 110px
  padding-left:25px
  padding-right:25px
  &:after
    content: ''
    border-bottom:110px solid rgb(255,248,217)
    border-left:40px solid transparent
    display: block
    position: absolute
    left:-38px
    top:0

.already_box
  margin-top:20px
  display: flex
  align-items: center
  justify-content: space-between
  font-weight: bold

.mypaytext
  font-size: 28px
  color:#333

.mypayamout
  font-size: 36px
  color:#F9482E

.agre_title
  font-size: 32px
  color:#333
  text-align: center
  padding-top:20px
  padding-bottom: 30px

.prebox
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-break: break-all
  word-wrap: break-word
  max-height: 640px
  padding-left:25px
  padding-right:25px

.mfooter
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 32px
  color:#333
  text-align: center
  border-top:1Px solid #f8f8f8
  >*
    width:50%
    height:80px
    line-height:80px
  >*:last-child
    color:#F9482E