.empty
  width 670px
  background-repeat no-repeat
  background-size 100%
  margin 138px auto 0
  text-align center
  font-size 28px
  color rgba(154, 154, 154, 1)
  line-height 40px
  padding 380px 0 67px 0
