.content
  background: #f7f7f7


.inner
  text-align: center
  padding: 64px
  font-size: 28px
  margin-top: 30px
  background: #fff
  border-radius: 18px 18px 0 0
  .icon_img
    width: 128px
    height 128px
    display: block
    margin: 0 auto 36px auto
  .btn
    color: #F9482E
    border: 1px solid rgba(249,72,46,1)
    padding: 18px 36px
    line-height: 28px
    display: inline-block
    border-radius: 34px
    margin-top: 87px