
 .list_out
  :global
    .loaded, .loading, .pullDownBlock
        font-size: 24px
        color: #666
.item
  display: flex
  align-items: center
  padding:24px
  .img
    width: 88px
    height 88px
    display: block
    margin-bottom: 0
    margin-right: 30px
    border-radius: 50%
  .right
    flex: 1
    .name
      font-size: 28px
    .bottom
      display: flex
      color: #656565
      font-size: 24px
      display: flex
      justify-content: space-between

