/**
 * @Author: cai.ping
 * @Email: cai.ping@jdxiaokang.com
 * @Update: 2020-03-07 10:21:09
 * @Description: true
 */

 .content
   background: #FF3B3B
   padding-bottom: 170px
   button
    border:none
    outline: none

 .one
   width: 100%
   height: 1060px
.two
   width: 90%
   height: 958px
   margin-left:auto
   margin-right:auto
   margin-top:80px
   background: #FF3B3B

.reg_box
  background-color: white
  border-radius: 8px
  padding: 30px 20px
  width: 90%
  margin-left:auto
  margin-right:auto
  margin-top: -140px

.agree_box
  margin-top:30px
  text-align: center
  color:#999

.checkbox
  font-size: 28px
  margin-right:15px
  color:#f9482e
  vertical-align: baseline

.form_items
  position relative
  border:1Px solid #ccc
  border-radius: 12px
  height:80px
  margin-top:20px
  padding-left:60px
  input
    height:100%

.form_items2
  position relative
  border:1Px solid #ccc
  border-radius:12px
  height:80px
  padding-left:170px
  margin-top: 25px
  input
    height:100%
    padding-left:20px
    padding-right:20px

.sub_ok
  margin-top: 60px

.filed
  background-color: #F7F8FA
  color:#666
  width:170px
  position: absolute
  left:0
  top:0
  height:100%
  line-height: 80px
  padding-left:25px
  border-radius:12px 0 0 12px

.icon
  position: absolute
  left: 15px
  top: 15px
  color:#ccc
  font-size: 32px

.send_msg
  position: absolute
  right:20px
  top:20px
  color:#F9482E

.rsend_msg
  position: absolute
  right:20px
  top:20px
  color:#999

.sub_btn 
  background-color: #F9482E
  color:white
  height:80px
  line-height:80px
  border-radius:40px

.recommender
  height:100px
  background-image: linear-gradient(90deg, rgba(0,0,0,.4), transparent)
  position: absolute
  width:92%
  left:4%
  top:20px
  display: flex
  color:#F5EAEA
  border-radius: 12px
  padding-left:20px
  align-items: center

.recommender_photo
  width:68px
  height:68px
  border-radius:50%
  border:1Px solid white
  margin-right: 15px

.recommender_title
  font-size: 28px
  display: inline-block
  text-overflow: ellipsis
  white-space: nowrap
  max-width: 420px
  overflow hidden

.recommender_desc
  font-size: 12px

.reg_title
  height:80px
  background-repeat: no-repeat
  background-size: auto 60%
  background-position: center center

.sucs_icons
  color:#F9482E
  font-size: 82px

.handler_box
  display: flex
  button
    border-radius: 40px
    height:80px
    line-height:80px
    vertical-align: middle
    margin:50px 15px 30px 15px !important
    color:white
    &:after
      border:none
    &:first-child
      background-color: #999
    &:last-child
      background-color: #F9482E
