/**
 * @Author: 福虎
 * @Email: tanshenghu@163.com
 * @Update: 2020-04-14 15:13:03
 * @Description: 进入我的让铺中间页面
 */
.container
  padding:20px 35px

.main_box
  box-shadow: 0 0 30px #f1f1f1
  border-radius: 25px

.top_img
  width:100%
  height:auto

.user_box
  text-align: center
  margin-top:100px

.store_img
  width:160px
  height:160px
  border-radius:50%

.shop_name
  margin-top:30px
  color:#343434
  font-size: 32px
  font-weight: bold

.shop_name_icon
  width:45px
  height:auto
  margin-left:10px

.touch_tip
  font-size: 28px
  color:#656565
  text-align: center
  padding-bottom: 50px
  margin-top:50px

.wx_code_box
  text-align: center
  margin-top:30px

.wechat_Qrcode
  width:72%
  height:auto
  margin-left:auto
  margin-right:auto

.fbox
  margin-top:80px

.wx_icon
  color: #21C064
  font-size: 28px
  vertical-align: middle
  margin-right: 12px

.goto_ch5
  text-align: center
  color:#656565
  font-size: 28px