.page_container
  padding-top:88px


.navigationBar
  padding-top:20px
  padding-bottom: 20px
  text-align: center
  height: 88px
  line-height: 48px
  position:fixed
  z-index:200
  border-bottom:1PX solid #F7F7F7
  background-color: #F1F1F1
  width:100%
  left:0
  top:0

.navigation_back
  color:black
  position: absolute
  left:25px
  top:20px

.navigationBar_text
  font-size:34px
  color: #191919

.navigation_right
  position:absolute
  right:35px
  top:20px

.back_icon
  font-size: 32px