/**
 * @Author: qiang.zhang
 * @Email: 1196217890@qq.com
 * @Update: 2020-03-02 12:09:55
 * @Description: 今日业绩
 */
 .dailygrad
   width:100%
   background:#F1F1F1
   float: left
 .dailyMes
   width:702px
   height:192px
   margin:24px
   background:#fff
   border-radius:12px;
   display: flex
   justify-content: space-around
   align-items: center
   margin-bottom:34px
 .dailyeve
   height:192px
   position: relative
   display: flex
   justify-content: center
   flex-direction: column
   align-items: center
.dailyborderline
  height:6px 
  width:60px
  border-radius: 3px
  background:#323232
  position: absolute
  bottom 0px
  left 0
  right 0
  margin:0 auto
.dailyprice
  font-size:32px;
  font-weight:600;
  color:rgba(50,50,50,1);
  line-height:45px;
.dailypricetitle
  font-size:24px;
  color:rgba(153,153,153,1);
  letter-spacing:1px;
  margin-bottom:6px
.dailyBottom
  width:702px
  margin:0 24px
  min-height 1000px
  background:#fff
  border-radius:12px;
  position:relative
.sanjiao
  position:absolute
  top:-24px
  left:100px
  width:10;
  height:0;
  border-width:0 24px 24px;
  border-style:solid;
  border-color:transparent transparent #fff;
.secsanjiao
  position:absolute
  top:-24px
  left:326px
  width:0;
  height:0;
  border-width:0 24px 24px;
  border-style:solid;
  border-color:transparent transparent #fff;
.thrsanjiao
  position:absolute
  top:-24px
  left:562px
  width:0;
  height:0;
  border-width:0 24px 24px;
  border-style:solid;
  border-color:transparent transparent #fff;
.orderMes
  width:100%
  height:178px
  border-bottom:2px solid #EBEBEB
  display: flex
  flex-direction: column
  padding:24px
.innerMes
  display: flex
  justify-content: space-between
  margin-bottom:10px
  align-items: center
.ordernum
  margin-bottom:10px
  font-size:24px;
  font-weight:400;
  color:rgba(153,153,153,1);
  line-height:33px;
.sharePrice
  font-size:28px;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:40px;
.pricenum
  font-size:28px;
  font-weight:500;
  color:rgba(249,72,46,1);
  line-height:28px;
  display: flex
.speclogo
  font-size: 20px
.timeMes
  font-size:24px;
  color:rgba(153,153,153,1);
  line-height:33px;

