:global
  .taro_page
     background:#F7F8FA
body-width= 686px
margin-style = 32px
back-color = #4A6DFE

.flexItem
  display: flex
  align-items: center
  justify-content: space-between
.libTop
  width:100%
  height:160px
  background:back-color
  position:relative
  margin-bottom:106px
.libPosition
  width: body-width 
  height:158px
  background:#FFFFFF
  position:absolute
  left:margin-style
  bottom:-58px
  border-radius: 8px
  display: flex
  align-items: center
  justify-content: center
.libinner
  width:100%
  display: grid
  grid-template-columns: 33.33% 33.33% 33.33%;
.lib_eve_mes
  border-right:1px solid rgba(149, 68, 33, 0.2)
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
.libBot
  width:body-width
  margin:0 margin-style
  height:48px
  margin-bottom:24px
.mystyle
  font-size: 30px
  color:#333333
  font-weight: 500
.mybotstyle
  height:100%
.myAll
  width:96px
  height:48px
  border-radius: 24px
  background:back-color
  color:#fff
  justify-content: center
  margin-right:20px
.myJoin
  width:144px
  height:48px
  background:#FFFFFF
  font-size: 24px
  color:#666666
  border-radius: 24px
  justify-content: center
.eve_style
  width:100%
  background:#FFFFFF
  margin-bottom:20px
.eve_inner
  width: body-width
  margin:0 margin-style
.eve_inner_mes
  display: flex
  align-items: center
.eve_inner_top
  width:100%
  padding:28px 0
  display: flex
  border-bottom: 2px solid #EAEAEA
.eve_left
  width:96px
  height:96px
  background:#D8D8D8
  border-radius: 50%
  margin-right:16px
  .eve_Image
    width:100%
    height:100%
    border-radius: 8px
.eve_right
  display: flex
  justify-content: space-between
  width:575px
  align-items: center
.fontStyle
  font-size: 28px
  color:#333333
  font-weight: 500
  margin-right:10px
.top_img
  margin-bottom:10px
.myShop
  font-size: 20px
  color:#F9482E
  padding 2px 10px
  background:rgba(249,72,46,0.12);
.bot_img
  color:#999999
.eve_inner_bot
  display: flex
  align-items: center
  justify-content: space-between
  padding:24px 0
.phoneStyle
  font-size: 24px
  color:#999999
.timeStyle
  font-size: 24px
  color:#999999
.font_top_Style
  font-size: 26px
  margin-left:8px
.font_bot_Style
  font-size: 26px
  color:#F9482E
.moneyNum
  font-size: 32px
.moneyText
  font-size:24px
  color:#666666
.allMoney_num
  font-size: 32px
  color:#F9482E
.regMes
  color:rgba(255,166,51,1);
  font-size: 26px
  float right
.navStyle
  width:100%
  background: #FFFFFF
  margin-bottom: 20px
.eve_nav_style
  width:body-width
  margin:0 margin-style
  height:96px
  display: flex
  align-items: center
  justify-content: space-between
.border_bottom
  border-bottom: 1px solid rgba(234, 234, 234, 1);
.eve_text
  font-size: 28px
  font-weight: 500
.eve_text_num
  font-size: 28px 
  font-weight: 400
  


