/**
 * @Author: cai.ping
 * @Email: cai.ping@jdxiaokang.com
 * @Update: 2020-03-04 19:54:06
 * @Description: true
 */
 .content
  background: #f9f
  position: relative
  // position: absolute
  // left :0
  // right 0
  // top: 200px
  // bottom: 400px
  .scroll_content
    background: #f90
    .item
      height: 100px
      display: flex
      align-items: center
      .img
        width: 100px
        height 100px
    :global
      .loaded, .loading, .pullDownBlock
        font-size: 28px